<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
	<Appenders>
		<file append="false"
			filename="/Users/mariya/Yandex.Disk.localized/EPAM_LAB/com.epam.library/logs/logs.log"
			name="log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</file>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="log" />
		</Root>
	</Loggers>
</Configuration>